* {
    font-family: 'Roboto Condensed', sans serif;
    background-color: rgb(1,30,64);
    color: white;
}
header {
    display: flex;
    border-bottom: 1px solid;
    padding-bottom: 0.5rem;
    align-items: center;
    justify-content: space-between;
}
a {
    color: #68BBE3;
}
#title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
#title .material-symbols-outlined {
    font-size: 48px;
    margin-right: 10px;
}
#title:hover {
    cursor: pointer;
}
.search-bar {
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.search-bar .material-symbols-outlined {
    font-size: 1rem;
}
.search-bar input {
    font-size: 1rem;
    border-radius: 10px;
    margin-right: 5px;
    padding: 2px 0 2px 8px;
    background-color: rgba(255,255,255,0.2);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
.sidebar {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    border-right: 1px solid;
}
.content {
    flex-grow: 1;
    height: auto;
    padding: 0px 20px;
}
.sidebar ul {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    width: max-content;
    list-style-type: none;
    padding: 10px 0px;
    margin: 0;
}

.sidebar ul li#contact-info {
    margin-top: auto;
}

.sidebar ul li#contact-link {
    margin-top: 0;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 10px;
    margin-bottom: 5px;
}

.sidebar ul li:hover {
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}
.sidebar ul li:hover .material-symbols-outlined {
    background-color: rgba(255,255,255,0);
}

.sidebar-clicked {
    background-color: rgba(255,255,255,0.2);
}

.sidebar-clicked .material-symbols-outlined {
    background-color: rgba(255,255,255,0);
}

#contact-info {
    visibility: hidden;
    font-size: 0.8rem;;
    padding-right: 10px;
    margin-right: 10px;
    border: 1px solid #0E86D4;
    background-color: rgba(14,134,212,0.1);
}

#contact-info:hover {
    cursor: default;
}

/* --- HOMEPAGE FORMS --- */

#homepage-forms {
    display: flex;
    justify-content: space-between;
}

#homepage-form-1, #homepage-form-2 {
    display: flex;
    width: 49%;
    height: max-content;
    border: 1px solid #0E86D4;
    background-color: rgba(14,134,212,0.1);
}

.site-facts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(14,134,212,0);
}

.site-facts label, .personal-facts label {
    background-color: rgba(14,134,212,0);
}

.site-facts input, .personal-facts input {
    margin-top: 10px;
}

input[type="reset"] {
    margin-left: 5px;
}

input[type="submit"]:hover, input[type='reset']:hover {
    cursor: pointer;
}

.fact-selection {
    width: 45%;
    padding-left: 15px;
    margin-right: 10px;
    background-color: rgba(14,134,212,0);
}

.fact-selection h3 {
    margin-bottom: 5px;
    background-color: rgba(14,134,212,0);
}

#site-fact, #personal-fact {
    margin-top: 10px;
    background-color: rgba(14,134,212,0);
}

.fact-display {
    width: 45%;
    height: max-content;
    margin: 10px 0;
    padding-right: 20px;
    padding-left: 15px;
    border-left: 1px solid #0E86D4;
    background-color: rgba(14,134,212,0);
}

.fact-display p {
    margin: 0;
    background-color: rgba(14,134,212,0);
}

.personal-facts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(14,134,212,0);
}

.select-reset {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(14,134,212,0);
}

.submit-reset {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(14,134,212,0);
}

.submit-reset label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#site-fact-one, #site-fact-two, #site-fact-three, #personal-fact-one, #personal-fact-two, #personal-fact-three {
    display: none;
}

footer {
    display: flex;
    border-top: 1px solid;
    justify-content: flex-end;
    align-items: center;
}
footer p {
    font-size: 0.8rem;
}
footer img {
    height: 1rem;
    padding: 0 2px;
}

/* -- ICONS -- */
.material-symbols-outlined {
  margin-right: 5px;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

/* -- DESC PAGES --*/
#bio, #projects, #documentation {
    display: none;
}
.desc-top-block {
    display: flex;
    margin-bottom: 20px;
    overflow: auto;
}
.desc-top-block-text {
    max-width: 85%;
}

.desc-top-block h2, 
.desc-top-block p {
    flex: 1;
}

.desc-top-block-image {
    display: flex;
    align-items: center;
}

.desc-top-block img {
    width: auto;
    height: 125px;
    margin: 20px 25px 0 25px;
    border-radius: 50%;
    border: 3px solid #0E86D4;
    object-fit: cover;
}
.desc-top-block-image .material-symbols-outlined {
    font-size: 100px;
    margin: 20px 25px 0 25px;
}
.desc-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.desc-columns h3 {
    margin: 0 0 15px 0;
    padding: 5px;
    text-align: center;
    border: 1px solid #0E86D4;
    background-color: rgba(14,134,212,0.1);
}

.desc-columns h3:hover {
    cursor: pointer;
    background-color: rgba(14,134,212,0.2);
}

.desc-columns h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.desc-columns h5 {
    margin-top: 0;
    margin-bottom: 5px;
}

.desc-columns p {
    margin-top: 0;
    margin-bottom: 20px;
}

/* -- DOCS PAGE --*/

.doc-top-block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-right: 10px;
    overflow: auto;
}

.doc-top-block-text {
    max-width: 75%;
    padding-right: 20px;
}

.doc-top-block-menu {
    width: 25%;
    height: max-content;
    padding: 15px 25px 0 25px;
    margin-top: 20px;
    border: 1px solid #0E86D4;
    background-color: rgba(14,134,212,0.1);
}

.doc-top-block-menu h3 {
    margin: 0 0 5px 0;
    background-color: rgba(14,134,212,0);
}

.doc-top-block-menu h3:hover {
    cursor: pointer;
    color: #68BBE3;
}

.doc-top-block-menu ul {
    list-style-type: none;
    margin-top: 5px;
    padding-left: 0;
    background-color: rgba(14,134,212,0);
}

.doc-top-block-menu li {
    width: max-content;
    padding: 5px 0;
    background-color: rgba(14,134,212,0);
}

.doc-top-block-menu .material-symbols-outlined {
    background-color: rgba(14,134,212,0);
}

.doc-top-block-menu .selected {
    display: none;
    color: #68BBE3; 
}

.doc-menu-item {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: rgba(14,134,212,0);
    text-decoration: none;
}

.doc-menu-item:hover, .doc-top-block-menu li.active {
    color: #68BBE3;
    cursor: pointer;
}

/* -- MOBILE RESP --*/

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Stacks children vertically */
    }

    .content {
        width: 100%; /* Full width of the screen */
        padding: 0;
        margin: 0 0 70px 5px;
    }
     
    .sidebar {
        position: fixed;
        bottom: 0;
        flex-direction: row; /* Aligns children horizontally */
        width: 100%; /* Full width of the screen */
        min-height: auto;
        border-top: solid 3px;
        z-index: 1001;
    }

    .sidebar ul {
        flex-direction: row; /* Children in a row */
        justify-content: space-around;
        width: 100%; /* Full width of the sidebar */
        padding: 0; /* Adjust padding as necessary */
        min-height: auto;
    }

    /* Shift text in sidebar li elements and reduce font size */
    .sidebar ul li {
        flex-direction: column; /* Changes from column to row */
        justify-content: flex-space; /* Aligns items to the start */
        align-items: center;
        padding: 10px 10px 10px 10px;
    }

    .sidebar .material-symbols-outlined {
        margin-right: 0;
      }

    #contact-info {
        position: fixed; /* Fixes the position on the screen */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centers the div */
        z-index: 1000; /* Ensures it overlays over everything else */
        font-size: 1rem;;
        padding-right: 10px;
        margin-right: 10px;
        border: 1px solid #0E86D4;
        background-color: rgb(1,30,64);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8); /* Tint effect */
        z-index: 999; /* Behind #contact-info but above everything else */
    }

    #homepage-forms {
        display: block;
    }

    #homepage-form-1 {
        margin-bottom: 12px;
    }

    #homepage h2, #homepage h3, #homepage p {
        width: 98%;
    }

    #homepage-form-1, #homepage-form-2 {
        width: 97%;
    }

    /* In #bio and #projects, remove image and stack elements */
    #bio .desc-top-block-image, #projects .desc-top-block-image {
        display: none;
    }
    #bio .desc-top-block-text, #projects .desc-top-block-text,
    #bio .desc-columns, #projects .desc-columns {
        width: 100%;
    }

    .desc-columns {
        display: flex;
        flex-direction: column;
    }

    /* In #documentation, stack elements and put menu on top */
    #documentation .doc-top-block {
        flex-direction: column-reverse;
    }

    .doc-top-block-menu {
        width: 88%;
    }

    .doc-top-block-text {
        max-width: 100%;
    }

    footer {
        display: none;
    }
}
